YOUTUBE_CLIENT_SECRETS_FILE=/Users/gokuleshwarannarayanan/Documents/Repositories/Work Repositories/VoiceVid/backend/client_secrets.json
GEMINI_API_KEY=
GOOGLE_CLOUD_PROJECT=story-labs-factory
GCS_BUCKET=storylab-assets
SENDGRID_API_KEY=
WORKER_URL=http://localhost:8000